$bg-white: #FCFBFB;
$font-brown: #490D0C;
$font-black: #0F0000;
$font-red: #C81F04;
$font-dark-grey: #2D2D2D;
$merriweatherSans: 'Merriweather Sans';
$slovic: 'Slovic';
$bath-column: "1350px";
$bath-schedule-column: "710px";
$laundry-column: "1370px";

