.headerFixed.navbar_scrolled {
    padding-bottom: 12px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(194, 196, 199, 0.5);
    transition: transform 2s ease ;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: block;
    //transform: translateY(-100px);
    animation-name: fadeInNavbar;
    animation-duration: 1s;
}

@keyframes fadeInNavbar {
    from {
        opacity: 0;
        top: -100px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}
