footer {
    margin-top: 100px;
    padding-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @media (max-width: 940px) {
        row-gap: 50px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            row-gap: 40px;
        }
    }

    &__nav {
        &-list {
            display: flex;
            column-gap: 40px;

            @media (max-width: 520px) {
                flex-direction: column;
                align-items: center;
                row-gap: 40px;
            }
        }

        &-link {
            font-family: 'Comfortaa';
            font-weight: 600;
            font-size: 20px;
            line-height: 22px;
            color: #180000;
            transition: all .3s ease;

            &:hover {
                color: #E4382E;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        @media (max-width: 940px) {
            flex-direction: column;
            align-items: center;
            row-gap: 40px;
        }

        &-text {
            font-size: 16px;
            line-height: 160%;
            color: #2D2D2D;
            text-align: center;

            br {
                display: none;

                @media (max-width: 410px) {
                    display: block;
                }
            }

        }

        &-link {
            font-family: 'Comfortaa';
            text-align: center;
            font-size: 16px;
            line-height: 160%;
            color: #000000;
            transition: all .3s ease;

            &:hover {
                color: #E4382E;
            }
        }
    }
}

