.animate__animated.animate__delay-03s {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.animate__animated.animate__delay-06s {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.animate__animated.animate__delay-09s {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

