.burger {
    display: none;
}

@media (max-width: 1024px) {


    .burger {
        position: fixed;
        display: flex;
        top: 11px;
        right: 30px;
        cursor: pointer;
        z-index: 150;

        @media (max-width: 1024px) {
            right: 20px;
        }

        &.active {
            position: fixed;
            top: 8px;
            right: 20px;
            z-index: 3000;
        }
    }

    .burger span {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.15s ease 0s;
    }

    .burger-span-top.active {
        transform: rotate(45deg);
        transform-origin: -1px 10px;
        //fill: #F8F7FF;
    }

    .burger-span-center.active {
        display: none;
    }

    .burger-span-bottom.active {
        transform: rotate(-45deg);
        transform-origin: 11px 25px;
    }
}
