.swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    background: rgba(222, 215, 215, 0.932) !important;
}

.swiper-pagination-bullet-active {
    background-color: #FFFFFF !important;
}