#about {
    margin-top: 100px;
}

.about {
    &__info {
        display: grid;
        grid-template-columns: 345px auto;
        column-gap: 95px;

        @media (max-width: 1023px) {
            display: flex;
            flex-direction: column;
            row-gap: 50px;
        }

        &-title {
            font-size: 60px;
            line-height: 140%;
            text-transform: uppercase;
            color: #180000;
        }

        &-block {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }

        &-text {
            font-size: 18px;
            line-height: 160%;
            color: #180000;
        }
    }

    &__number {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1023px) {
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
        }

        &-item {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            &-title {
                font-size: 76px;
                line-height: 78px;
                text-transform: uppercase;
                color: #E4382E;

                @media (max-width: 1023px) {
                    text-align: center;
                }

                @media (max-width: 1120px) {
                    font-size: 58px;
                }

                @media (max-width: 1023px) {
                    text-align: center;
                }

                @media (max-width: 420px) {
                    font-size: 40px;
                    line-height: 41px;
                }
            }

            &-text {
                font-weight: 600;
                font-size: 20px;
                line-height: 160%;
                color: #180000;

                @media (max-width: 1023px) {
                    text-align: center;
                }

                br {
                    display: none;

                    @media (max-width: 520px) {
                        display: block;
                    }
                }
            }
        }
    }
}
